<launch>
  <!-- DisCODe -->
  <node 
    name="$(anon discode)"
    pkg="irp6_grasping"
    type="discode"
    launch-prefix="xterm -e" />

  <!-- Scene state estimation -->
  <node
    name="$(anon pose_estimation)"
    pkg="irp6_grasping"
    type="pose_estimation"
    launch-prefix="xterm -e" />
</launch>
