<launch>
  <param name="robot_name" value="Irp6ot" />
  <param name="kinect_optical_frame" value="/t_kinect_optical_frame" />
  <param name="object_id" value="herbapol_mieta" />
  <!-- Possible values: kalman, highest_confidence -->
  <param name="object_pose_estimation_strategy" value="highest_confidence" />
  <param name="world_frame_id" value="/tl_base" />
  <param name="min_object_confidence" value="0.45" />
  <param name="result_root_dir" value="/home/akarbarc/RESULTS" />

  <include file="$(find irp6_grasping)/launch/grasping.launch" />
</launch>
